/* Start Global Rules */
*{
box-sizing: border-box;
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
  }

/* end Global Rules */